@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');





*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
   color:  hsl(243, 87%, 12%);
   font-size: 0.9rem;
   margin: 0;
}

.container {
    width: 1500px;
    margin: 0 auto;
    max-width: 100%;
    padding: 30px;
}

img {
    display: flex;
    max-width: 100%;
    align-items: center;
}


.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0 200px 0;
}

.nav-link{
    border: 1px solid;
    border-radius: 50px;
    box-sizing: border-box;
    color: #ff52bf;
    margin: 0;
    padding: .45rem 1.4rem;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 1s;
}


h1{
    box-sizing: border-box;
    color: #00252e;
    font-family: "Poppins",sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: center;
}





.main-text {
    font-size: 1.1rem;
    color: #00252e;
    line-height: 1.5;
    margin: 1rem auto 0;
    text-align: center;
    width: 45%;
  }


.flex > div,
.flex > ul {
	flex: 1;
}

.align-start{
    align-items: flex-start;


}


.flex > div:first-child{
    margin-right: 20px;
}


.flex > div:last-child{
    margin-left: 20px;
}

.free{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0 auto;
    padding: 1.5rem 1.5rem;
    width: 25%;
    margin-top: 40px;
    color: #fff;
    background-color: #ff52bf;
    box-shadow: rgba(0,0,0,.16) 0 3px 6px,rgba(0,0,0,.23) 0 3px 6px;
    border-radius: 50px; 
    text-decoration: none;
}



.mockup{
    
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 100px;
    width: 1400px;
}

.statistics {
    display: flex;
    justify-content: space-around;
    width: 10px;
    padding-bottom: 200px;
}



.statistics .numbers{
    font-size: 6rem;
    font-weight: 700;
    color: #00252e;
}

.statistics p {
    width: 100%;
    text-align: center;
    color: #2f4f4f;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
}

.grey{
    background-color: #f5faff;
    margin-top: 100px;
    position: relative;
    padding: 50px 0;
}

.grey::before{
    content: '';
    background-image: url(./images/bg-section-bottom-desktop-1.svg);
    background-size: cover;
    height: 200px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -200px;
    transform: rotate(180deg);
}

.grey h2{
    font-size: 3rem;
    font-weight: 700;
    color: #00252e
}


.grey p{
    font-size: 1rem;
    font-weight: 400;
    color: #00252e;
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;

}


.white{
    background-color: #fff;
    margin: 450px 0;
    position: relative;
    padding: 50px 0;
}

.white::before{
    content: '';
    background-image: url(./images/bg-section-top-desktop-2.svg);
    background-size: cover;
    height: 240px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -450px;
    transform: rotate(-180deg);
}

.white h2{
    font-size: 3rem;
    font-weight: 700;
    color: #00252e
}


.white p{
    font-size: 1rem;
    font-weight: 400;
    color: #00252e;
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;

}

.grey-2{
    background-color: #f5faff;
    margin-top: 100px;
    position: relative;
    padding: 50px 0;
}

.grey-2::before{
    content: '';
    background-image: url(./images/bg-section-bottom-desktop-1.svg);
    background-size: cover;
    height: 200px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -200px;
    transform: rotate(180deg);
}

.grey-2 h2{
    font-size: 3rem;
    font-weight: 700;
    color: #00252e
}


.grey-2 p{
    font-size: 1rem;
    font-weight: 400;
    color: #00252e;
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;

}


.community{
    background-color: #fff;
    margin: 450px 0;
    position: relative;
    padding: 50px 0;
}

.community::before{
    content: '';
    background-image: url(./images/bg-section-top-desktop-2.svg);
    background-size: cover;
    height: 240px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -450px;
    transform: rotate(-180deg);
}




footer {
	background-color: hsl(192, 100%, 9%);
	color: #fff;
    padding: 180px 0 60px;
    position: relative;
}
footer::before{
    content: '';
    background-image: url(./images/bg-footer-top-desktop.svg);
    background-size: cover;
    height: 200px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -200px;
}


footer .container {
    display: flex;
    justify-content: space-between;
  }
  footer .item {
    width: 50%;
  }



  footer .item.info p {
    width: 350px;
    line-height: 1.8;
    font-size: 18px;
  }
  footer .item.item.info > p {
    font-size: 16px;
    font-weight: 600;
  }
  footer .item .logo h1 {
    font-size: 3rem;
    margin: 20px 0;
  }
  footer .social {
    margin-top: 80px;
  }
  footer .social a {
    margin-right: 10px;
    font-size: 32px;
    color: inherit;
    text-decoration: none;
  }


  footer .item.news h4 {
    font-size: 2rem;
    margin: 20px 0;
  }

  footer .item.news p {
    line-height: 1.8;
    width: 380px;
  }

  .news-form {
    margin-top: 50px;
  }


  footer .news-form input,
  .news-form button {
    all: unset;
    height: 50px;
    border-radius: 8px;
  }

  footer .news-form input {
    box-sizing: border-box;
    color: hsl(192, 100%, 9%);
    padding: 0 15px;
    background-color: #fff;
    width: 350px;
  }
  footer .news-form button {
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    text-align: center;
    margin-left: 30px;
    width: 150px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
  }



  @media screen and (max-width: 768px) {   
    .container {
        max-width: 100%;
        align-items: center;
    }
    
    body {
		text-align: center;
	}

	nav {
        margin: 10px 0 120px 0;
    }

    nav img{
        width: 125px;
		margin: 20px 0;
    }

    h1{
        font-size: 2rem;
    }
    
    .main-text{
          width: 100%;
          margin: 20px 0px;
    }

    .free{
        width: 80%;
    }


    .mockup{
        width: 300px;
        align-items: center;
    }



    .statistics{
        flex-direction: column;
    }

    .statistics img{
        margin: 0 120px;
    }


    .messages{
        margin: 30px 0;
    }

    .statistics .numbers{
        font-size: 4rem;
        font-weight: 700;
        color: #00252e;
    }


	.flex {
		flex-direction: column;
	}

	.flex > div {
		width: 100%;
	}

	.flex > div:first-child {
		margin-right: 0;
	}

	.flex > div:last-child {
		margin-left: 0;
    }


      footer .container{flex-direction: column-reverse;}
      footer .item {
        width: 100%;
        padding: 60px 0;

      }
      footer .item.info p , footer .item.news p {
        width: 100%;

      }
      footer .news-form input{
        width: 100%;
      }
      .huddle-logo{
          width: 100%;
      }
    }